* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.frame {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 40px auto;
    grid-template-areas: 
        "phase-area control-area"
        "map-area control-area";
    width: 100%;
    height: 100%;
}

.map-area {
    grid-area: map-area;
    position: relative;
    overflow: hidden;
}

map-view {
    position: absolute;
    width: 100%;
    height: 100%;
}

map-view * {
    display: none;
}

.control-area {
    grid-area: control-area;
    background-color: red;
}

.phase-area {
    grid-area: phase-area;
}

@media (orientation: portrait) {
    .frame {
        grid-template-columns: 1fr;
        grid-template-rows: 40px 2fr 1fr;
        grid-template-areas: "phase-area" "map-area" "control-area";
    }
}
